<?xml version="1.0"?>
<config>
  <modules>
    <Webkracker_Categorylistwithimages>
      <version>0.1.0</version>
    </Webkracker_Categorylistwithimages>
  </modules>
  <frontend>
    <routers>
      <categorylistwithimages>
        <use>standard</use>
          <args>
            <module>Webkracker_Categorylistwithimages</module>
            <frontName>categorylistwithimages</frontName>
          </args>
      </categorylistwithimages>
    </routers>
		<layout>
		  <updates>
			<categorylistwithimages>
			  <file>categorylistwithimages.xml</file>
			</categorylistwithimages>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <categorylistwithimages>
        <class>Webkracker_Categorylistwithimages_Helper</class>
      </categorylistwithimages>
    </helpers>
	<blocks>
	  <categorylistwithimages>
		<class>Webkracker_Categorylistwithimages_Block</class>
	  </categorylistwithimages>
	</blocks>
  </global>
</config> 